/********
ABSTRACT
********/

// Variable
$orange-color: rgb(211, 58, 44);
$main-font-color: white;
$second-font-color: #333;
$blue-color: rgb(38, 125, 204);

//Mixin
@mixin filter {
  filter: grayscale(100%);
}

@mixin rotaion-animate {
  transform: rotate(-12deg);
  transform-origin: 0 100%;
  transition: transform 0.2s;

  &:hover {
    transform: rotate(0deg);
  }
}

/******************************************
BASE
****/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font: 1.6rem/1.5 'Comic Neue';
  color: $main-font-color;
  // apply the gray effect
  @include filter();
}

li {
  list-style: none;
}

a:link,
a:visited {
  text-decoration: none;
}

input {
  border: none;

  &:focus {
    outline: none;
  }
}

/******************************************
Utilites
**********/

.center-abs-x {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.white-bg {
  background-color: white;
  padding: 1.2rem 1.6rem;
}

.margin--top-big {
  margin-top: 5rem;
}

.test-div {
  height: 500px;
  width: 250px;
  background-color: black;
  border: 3px solid white;
}

/******************************************
Typography
**********/

.main-heading {
  color: black;
  line-height: 1.52;
  font-size: 4.1rem;
  font-weight: 700;

  &--2 {
    top: 5rem;
  }
}

.second-heading {
  color: white;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.25;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: rgba(rgb(179, 212, 252), 0.4);
}

/******************************************
COMPONENT
********/

// image component
.img {
  width: 100%;
  transform: scale(1.2) rotate(12deg);
  transition: transform 0.2s;
  position: relative;

  &__shadow {
    // &::before {
    //   content: '';
    //   width: 36%;
    //   height: 90%;
    //   display: block;
    //   position: absolute;
    //   top: 77.6%;
    //   left: -5%;
    //   transition: all 0.1s ease-out;
    //   transform-origin: 30% 50%;
    //   background-image: url(https://d33wubrfki0l68.cloudfront.net/10f9f40f8856e393ab4525a46bd8e60af9580324/0ab7a/images/shadow.png);
    //   background-size: 100% auto;
    //   background-repeat: no-repeat;
    // }
  }

  &__container {
    @include rotaion-animate;
    border: 0.6rem solid $orange-color;
    border-radius: 1.1rem;
    overflow: hidden;

    &:hover > .img {
      transform: scale(1.2) rotate(0);
    }
  }
}

// button component
.btn {
  font-size: 2.5rem;
  padding: 2rem 2.5rem;
  line-height: 3rem;
  font-weight: 700;
  background-color: white;
  border-radius: 1.1rem;
}

.btn--2 {
  border-bottom: 5px solid $orange-color;

  &__Container {
    display: block;
    background-color: #b3d4fc;
    padding-bottom: 12rem;
    transition: all 0.1s ease-out;
    text-align: center;
    color: rgb(51, 51, 51);
  }
}

// Header
.main-header {
  background-color: $orange-color;
  height: 12.8vh;
  font-size: 2.5rem;

  &__navigator {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 4.2rem;
    height: 100%;
  }

  &__logo {
    flex-basis: 20rem;

    & img {
      height: 7.4rem;
      transform: translateY(2rem);
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__link {
    &:visited,
    &:link {
      color: white;
      display: inline-block;
      font-weight: bold;
      text-transform: capitalize;
      padding: 0.8rem 1.45rem;
      height: 5rem;
      border: 1px solid transparent;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
      line-height: 1.2;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.15);
      border-radius: 1.1rem;
      border: 1px solid rgba(0, 0, 0, 0.05);
    }

    &--1 {
      &:last-child {
        display: flex;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.15);
        border-radius: 1.1rem;
        border: 1px solid rgba(0, 0, 0, 0.05);
        box-shadow: 0 9px 30px -5px rgba(50, 50, 83, 0.25),
          0 8px 8px -12px rgba(0, 0, 0, 0.2),
          0 -6px 16px -6px rgba(0, 0, 0, 0.025);
      }

      &::after {
        content: '';
        display: inline-block;
        width: 3rem;
        height: 3rem;
        background-image: url(https://d33wubrfki0l68.cloudfront.net/e3f5fe5fb4ec15257cc4137f13a0d5081b4ea5f8/aca41/images/icons/menu-cat.svg);
        background-repeat: no-repeat;
        margin-left: 1rem;
      }
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }

  &__form {
    display: flex;
    height: 100%;
    align-items: center;
  }

  &__search-input {
    color: $second-font-color;
    padding: 1rem 2rem;
    padding-left: calc(22px + 1.7rem + 1.7rem);
    border-radius: 11px;
    font: inherit;
    font-weight: bold;
    width: 35rem;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgaGVpZ2h0PSIyNHB4IiB3aWR0aD0iMjRweCI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJsaW5lYXItZ3JhZGllbnQiIHgxPSIyMi4zMSIgeTE9IjIzLjYyIiB4Mj0iMy43MyIgeTI9IjMuMDUiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIj48c3RvcCBvZmZzZXQ9IjAiIHN0b3AtY29sb3I9IiNlOTM3MjIiLz48c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9IiNmODZmMjUiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48dGl0bGU+TWFnbmlmaWVyPC90aXRsZT48cGF0aCBmaWxsPSJ1cmwoI2xpbmVhci1ncmFkaWVudCkiIGQ9Ik0yMy4zMyAyMC4xbC00LjczLTQuNzRhMTAuMDYgMTAuMDYgMCAxIDAtMy4yMyAzLjIzbDQuNzQgNC43NGEyLjI5IDIuMjkgMCAxIDAgMy4yMi0zLjIzem0tMTcuNDgtNS44NGE1Ljk0IDUuOTQgMCAxIDEgOC40MiAwIDYgNiAwIDAgMS04LjQyIDB6Ii8+PC9zdmc+);
    background-repeat: no-repeat;
    background-position: 2rem 1.5rem;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
    transition: box-shadow 1s;

    &:focus {
      box-shadow: none;
    }

    &::placeholder {
      color: rgba($second-font-color, 0.9);
    }
  }
}

// Latest Articles
.latest-articles {
  height: 87.2vh;
  &--1 {
    background-color: #bc3428;
  }

  &--2 {
    background-color: #c7372a;
  }

  &--3 {
    background-color: #b13125;
  }

  &--4 {
    background-color: #bc3428;
  }
}

// Latest post
.latest-post {
  &__container {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #666;
    padding: 0 2rem;
    padding-bottom: 15rem;
    transition: all 0.2s ease-out;

    // To appling the hover increasing in width
    &::before {
      content: '';
      display: block;
      width: calc(100% + 1.6rem);
      height: 100%;
      position: absolute;
      top: -3rem;
      left: -3rem;
      background-color: transparent;
      padding: 30px;
      transition: background-color 0.2s ease-out;
    }

    &:not(.advertisement):hover::before {
      background-color: white;
      box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
    }

    &:hover {
      transform: scale(1.02);
    }
  }

  &__container:hover > article,
  &__container:hover > a {
    z-index: 100;
  }

  &__container:hover > a {
    background-color: #006fc6;
    color: white;
  }

  &__container:hover > a {
    background-color: #006fc6;
    color: white;
  }

  &__container:hover > h2 {
    color: #d33a2c;
  }

  &__time {
    font-size: 1.3rem;
    letter-spacing: 1px;
  }

  &__heading {
    a {
      &:link,
      &:visited {
        color: black;
        font-size: 2.9rem;
        text-decoration-line: underline;
        line-height: 1;
        font-weight: bold;
      }
    }
  }

  &__by {
    display: inline-block;
    margin: 2.5rem 0;
    line-height: 1;
    font-weight: bold;
    font-size: 2rem;

    a {
      &:link,
      &:visited {
        color: #666;
        font-size: 2rem;
        text-decoration-line: underline;
        line-height: 1;
        font-weight: bold;
      }
    }
  }

  &__paragraph {
    font-size: 2rem;
    color: rgb(51, 51, 51);
    font-weight: 400;
    line-height: 1.8;
  }

  &__read-more {
    &:link,
    &:visited {
      display: block;
      color: #d33a2c;
      padding: 4rem 5rem;
      margin-top: 6rem;
      font-size: 3rem;
      width: 120px;
      height: 120px;
      position: absolute;
      bottom: 30px;
      left: -30px;
      transition: background-color 0.2s ease-out;
    }
  }
}

// Content Table
.content-table {
  background-color: #1b71bb;
  padding-top: 7rem;
  padding-bottom: 3rem;

  header {
    text-align: center;

    span {
      display: block;
      margin-bottom: 3.5rem;
      font-size: 1.7rem;
      letter-spacing: 2px;
    }
  }

  p {
    text-align: center;
    font-size: 2.5rem;
    max-width: 55vw;
    font-weight: 400;
    line-height: 4rem;
    margin: 2.5rem auto 5rem;

    & strong {
      font-weight: 700;
    }
  }

  &__btn {
    color: $blue-color;

    &:hover {
      color: #d33a2c;
    }
  }

  &__img {
    width: 55vw;
    margin-top: 5rem;

    img {
      width: 100%;
    }
  }
}

.person--main {
  color: #666;
  font-family: serif;

  &__container--main {
    display: flex;
    padding: 0 10rem;
    padding-top: 7rem;
  }

  figure {
    margin-right: 3rem;
    width: 30rem;
    height: 30rem;
  }

  &__img-container {
    width: 25rem;
    height: 25rem;
    margin-top: 3.5rem;
  }

  &__img {
  }

  &__para-container {
    h4 {
      display: block;
      font-size: 1.8rem;
      font-weight: 400;
      letter-spacing: 2px;
    }

    p {
      margin: 3rem 0;
      line-height: 3.5rem;
      font-size: 2.1rem;

      a:link,
      a:visited {
        color: $blue-color;
        text-decoration: underline;
      }
    }
  }
}

//Person Component
.person {
  color: #666;
  position: relative;
  padding: 10rem 5rem 10rem 17rem;

  &__contrainer {
    margin-top: 8rem;
  }

  figure {
    position: absolute;
    width: 8.5rem;
    height: 8.5rem;
    left: 8%;
    top: 30%;
  }

  &__img-container {
    width: 8rem;
    height: 8rem;
  }

  &__img {
  }

  a {
    &:link,
    &:visited {
      text-decoration: underline;
    }
  }

  span {
    font-size: 2rem;
    font-weight: 700;
    a {
    }
  }

  &__heading {
    a {
      &:link,
      &:visited {
        text-decoration: none;
        font-size: 3.5rem;
      }
    }
  }

  p {
    font-size: 2.1rem;
    line-height: 3.5rem;
    a {
      &:link,
      &:visited {
        color: $blue-color;
      }
    }
  }

  &__time {
  }
}

// feature
.feature {
  &__time {
    font-size: 1.6rem;
    margin-left: 5px;
  }
  &__heading {
    text-align: left;
  }

  p {
    width: 55vw;
  }

  &__btn {
  }
}

/******************************************
LATOUT
********/
//Grid
.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  .col-1-2 {
    width: 50%;
  }

  .col-1-4 {
    width: 25%;
  }
}

//latest post section
.latest-post-section {
  background-color: rgb(179, 212, 252);
  padding-top: 5rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

//Content table Seaction
.content-table-seaction {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.person--main__section {
  background-color: rgb(179, 212, 252);
}

.feature-section {
  background-color: #d33a2c;
  height: 39rem;
  padding: 6rem 10rem;
}
