/********
ABSTRACT
********/
/******************************************
BASE
****/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font: 1.6rem/1.5 'Comic Neue';
  color: white;
  filter: grayscale(100%); }

li {
  list-style: none; }

a:link,
a:visited {
  text-decoration: none; }

input {
  border: none; }
  input:focus {
    outline: none; }

/******************************************
Utilites
**********/
.center-abs-x {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); }

.white-bg {
  background-color: white;
  padding: 1.2rem 1.6rem; }

.margin--top-big {
  margin-top: 5rem; }

.test-div {
  height: 500px;
  width: 250px;
  background-color: black;
  border: 3px solid white; }

/******************************************
Typography
**********/
.main-heading {
  color: black;
  line-height: 1.52;
  font-size: 4.1rem;
  font-weight: 700; }
  .main-heading--2 {
    top: 5rem; }

.second-heading {
  color: white;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.25;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: rgba(179, 212, 252, 0.4); }

/******************************************
COMPONENT
********/
.img {
  width: 100%;
  transform: scale(1.2) rotate(12deg);
  transition: transform 0.2s;
  position: relative; }
  .img__container {
    transform: rotate(-12deg);
    transform-origin: 0 100%;
    transition: transform 0.2s;
    border: 0.6rem solid #d33a2c;
    border-radius: 1.1rem;
    overflow: hidden; }
    .img__container:hover {
      transform: rotate(0deg); }
    .img__container:hover > .img {
      transform: scale(1.2) rotate(0); }

.btn {
  font-size: 2.5rem;
  padding: 2rem 2.5rem;
  line-height: 3rem;
  font-weight: 700;
  background-color: white;
  border-radius: 1.1rem; }

.btn--2 {
  border-bottom: 5px solid #d33a2c; }
  .btn--2__Container {
    display: block;
    background-color: #b3d4fc;
    padding-bottom: 12rem;
    transition: all 0.1s ease-out;
    text-align: center;
    color: #333333; }

.main-header {
  background-color: #d33a2c;
  height: 12.8vh;
  font-size: 2.5rem; }
  .main-header__navigator {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 4.2rem;
    height: 100%; }
  .main-header__logo {
    flex-basis: 20rem; }
    .main-header__logo img {
      height: 7.4rem;
      transform: translateY(2rem); }
  .main-header__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700; }
  .main-header__item:not(:last-child) {
    margin-right: 1.5rem; }
  .main-header__link:visited, .main-header__link:link {
    color: white;
    display: inline-block;
    font-weight: bold;
    text-transform: capitalize;
    padding: 0.8rem 1.45rem;
    height: 5rem;
    border: 1px solid transparent;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    line-height: 1.2; }
  .main-header__link:hover {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 1.1rem;
    border: 1px solid rgba(0, 0, 0, 0.05); }
  .main-header__link--1:last-child {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 1.1rem;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 9px 30px -5px rgba(50, 50, 83, 0.25), 0 8px 8px -12px rgba(0, 0, 0, 0.2), 0 -6px 16px -6px rgba(0, 0, 0, 0.025); }
  .main-header__link--1::after {
    content: '';
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background-image: url(https://d33wubrfki0l68.cloudfront.net/e3f5fe5fb4ec15257cc4137f13a0d5081b4ea5f8/aca41/images/icons/menu-cat.svg);
    background-repeat: no-repeat;
    margin-left: 1rem; }
  .main-header__link:hover {
    background-color: rgba(0, 0, 0, 0.3); }
  .main-header__form {
    display: flex;
    height: 100%;
    align-items: center; }
  .main-header__search-input {
    color: #333;
    padding: 1rem 2rem;
    padding-left: calc(22px + 1.7rem + 1.7rem);
    border-radius: 11px;
    font: inherit;
    font-weight: bold;
    width: 35rem;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgaGVpZ2h0PSIyNHB4IiB3aWR0aD0iMjRweCI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJsaW5lYXItZ3JhZGllbnQiIHgxPSIyMi4zMSIgeTE9IjIzLjYyIiB4Mj0iMy43MyIgeTI9IjMuMDUiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIj48c3RvcCBvZmZzZXQ9IjAiIHN0b3AtY29sb3I9IiNlOTM3MjIiLz48c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9IiNmODZmMjUiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48dGl0bGU+TWFnbmlmaWVyPC90aXRsZT48cGF0aCBmaWxsPSJ1cmwoI2xpbmVhci1ncmFkaWVudCkiIGQ9Ik0yMy4zMyAyMC4xbC00LjczLTQuNzRhMTAuMDYgMTAuMDYgMCAxIDAtMy4yMyAzLjIzbDQuNzQgNC43NGEyLjI5IDIuMjkgMCAxIDAgMy4yMi0zLjIzem0tMTcuNDgtNS44NGE1Ljk0IDUuOTQgMCAxIDEgOC40MiAwIDYgNiAwIDAgMS04LjQyIDB6Ii8+PC9zdmc+);
    background-repeat: no-repeat;
    background-position: 2rem 1.5rem;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
    transition: box-shadow 1s; }
    .main-header__search-input:focus {
      box-shadow: none; }
    .main-header__search-input::placeholder {
      color: rgba(51, 51, 51, 0.9); }

.latest-articles {
  height: 87.2vh; }
  .latest-articles--1 {
    background-color: #bc3428; }
  .latest-articles--2 {
    background-color: #c7372a; }
  .latest-articles--3 {
    background-color: #b13125; }
  .latest-articles--4 {
    background-color: #bc3428; }

.latest-post__container {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #666;
  padding: 0 2rem;
  padding-bottom: 15rem;
  transition: all 0.2s ease-out; }
  .latest-post__container::before {
    content: '';
    display: block;
    width: calc(100% + 1.6rem);
    height: 100%;
    position: absolute;
    top: -3rem;
    left: -3rem;
    background-color: transparent;
    padding: 30px;
    transition: background-color 0.2s ease-out; }
  .latest-post__container:not(.advertisement):hover::before {
    background-color: white;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.15); }
  .latest-post__container:hover {
    transform: scale(1.02); }

.latest-post__container:hover > article,
.latest-post__container:hover > a {
  z-index: 100; }

.latest-post__container:hover > a {
  background-color: #006fc6;
  color: white; }

.latest-post__container:hover > a {
  background-color: #006fc6;
  color: white; }

.latest-post__container:hover > h2 {
  color: #d33a2c; }

.latest-post__time {
  font-size: 1.3rem;
  letter-spacing: 1px; }

.latest-post__heading a:link, .latest-post__heading a:visited {
  color: black;
  font-size: 2.9rem;
  text-decoration-line: underline;
  line-height: 1;
  font-weight: bold; }

.latest-post__by {
  display: inline-block;
  margin: 2.5rem 0;
  line-height: 1;
  font-weight: bold;
  font-size: 2rem; }
  .latest-post__by a:link, .latest-post__by a:visited {
    color: #666;
    font-size: 2rem;
    text-decoration-line: underline;
    line-height: 1;
    font-weight: bold; }

.latest-post__paragraph {
  font-size: 2rem;
  color: #333333;
  font-weight: 400;
  line-height: 1.8; }

.latest-post__read-more:link, .latest-post__read-more:visited {
  display: block;
  color: #d33a2c;
  padding: 4rem 5rem;
  margin-top: 6rem;
  font-size: 3rem;
  width: 120px;
  height: 120px;
  position: absolute;
  bottom: 30px;
  left: -30px;
  transition: background-color 0.2s ease-out; }

.content-table {
  background-color: #1b71bb;
  padding-top: 7rem;
  padding-bottom: 3rem; }
  .content-table header {
    text-align: center; }
    .content-table header span {
      display: block;
      margin-bottom: 3.5rem;
      font-size: 1.7rem;
      letter-spacing: 2px; }
  .content-table p {
    text-align: center;
    font-size: 2.5rem;
    max-width: 55vw;
    font-weight: 400;
    line-height: 4rem;
    margin: 2.5rem auto 5rem; }
    .content-table p strong {
      font-weight: 700; }
  .content-table__btn {
    color: #267dcc; }
    .content-table__btn:hover {
      color: #d33a2c; }
  .content-table__img {
    width: 55vw;
    margin-top: 5rem; }
    .content-table__img img {
      width: 100%; }

.person--main {
  color: #666;
  font-family: serif; }
  .person--main__container--main {
    display: flex;
    padding: 0 10rem;
    padding-top: 7rem; }
  .person--main figure {
    margin-right: 3rem;
    width: 30rem;
    height: 30rem; }
  .person--main__img-container {
    width: 25rem;
    height: 25rem;
    margin-top: 3.5rem; }
  .person--main__para-container h4 {
    display: block;
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 2px; }
  .person--main__para-container p {
    margin: 3rem 0;
    line-height: 3.5rem;
    font-size: 2.1rem; }
    .person--main__para-container p a:link,
    .person--main__para-container p a:visited {
      color: #267dcc;
      text-decoration: underline; }

.person {
  color: #666;
  position: relative;
  padding: 10rem 5rem 10rem 17rem; }
  .person__contrainer {
    margin-top: 8rem; }
  .person figure {
    position: absolute;
    width: 8.5rem;
    height: 8.5rem;
    left: 8%;
    top: 30%; }
  .person__img-container {
    width: 8rem;
    height: 8rem; }
  .person a:link, .person a:visited {
    text-decoration: underline; }
  .person span {
    font-size: 2rem;
    font-weight: 700; }
  .person__heading a:link, .person__heading a:visited {
    text-decoration: none;
    font-size: 3.5rem; }
  .person p {
    font-size: 2.1rem;
    line-height: 3.5rem; }
    .person p a:link, .person p a:visited {
      color: #267dcc; }

.feature__time {
  font-size: 1.6rem;
  margin-left: 5px; }

.feature__heading {
  text-align: left; }

.feature p {
  width: 55vw; }

/******************************************
LATOUT
********/
.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%; }
  .row .col-1-2 {
    width: 50%; }
  .row .col-1-4 {
    width: 25%; }

.latest-post-section {
  background-color: #b3d4fc;
  padding-top: 5rem;
  padding-left: 4rem;
  padding-right: 4rem; }

.content-table-seaction {
  display: flex;
  flex-direction: column;
  align-items: center; }

.person--main__section {
  background-color: #b3d4fc; }

.feature-section {
  background-color: #d33a2c;
  height: 39rem;
  padding: 6rem 10rem; }
